<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>
      <!-- Searchable Shopping List: -->
      <h3>Shopping List:</h3>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList | filter : search">{{ item }}</li>
      </ul>
    </div>
	<div>
	<TABLE border="1" cellpadding="2" cellspacing="0" width=100%>
                <TR><FONT COLOR="#ffffff">
                 <TH bgcolor=#e0e0e0 align=left><B>Date</B></TH>
                 <TH bgcolor=#e0e0e0 align=left><B>Action</B></TH>
                 <TH bgcolor=#e0e0e0 align=left><B>By</B></TH>
                 <TH bgcolor=#e0e0e0 align=left><B>From State</B></TH>
                 <TH bgcolor=#e0e0e0 align=left><B>To State</B></TH>
                 <TH bgcolor=#e0e0e0 align=left><B>Value</B></TH>
                </FONT></TR><TR><TD colspan=6><B><font color=red><CENTER>No workflow information available.</CENTER></font></B></TD></TR></TABLE>
				</div>
  </body>
</html>
