<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>
  <body>
    <div class="container" ng-controller="NarrowItDownController as narrow">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div>
        <ul>
          <li ng-repeat="category in narrow.categories">
            {{ category.name }}
          </li>
        </ul>
      </div>
      <div class="form-group">
        <input ng-model="searchName" type="text" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button ng-click="narrow.getMatchedMenuItems(searchName);"
                   class="btn btn-primary">Narrow It Down For Me!
        </button>
        <div found-items>
        </div>
      </div>
    </div>
  </body>
</html>
